<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center" />

<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
        <p-card class="block mb-2">
            <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
            <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
            <div class="flex gap-3 mt-2">
                <span class="font-normal text-secondary text-sm">{{ product.description }}</span>
            </div>
            <div class="mt-2 flex items-center gap-2">
                <span class="text-sm text-500">Note</span>
                <span class="text-sm text-500">({{ product.rating }})</span>
            </div>
            <div class="mt-2 flex items-center gap-2">
                <span class="text-sm text-500">Prix</span>
                <span class="text-lg font-medium text-500">{{ product.price }} $</span>

            </div>

            <div class="mt-3 flex items-center gap-2">
                <button pButton icon="pi pi-minus" class="p-button-sm p-button-secondary"
                    (click)="removeFromCart(product)" [disabled]="getProductQuantity(product.id) === 0">
                </button>

                <span class="font-semibold text-md text-center">
                    {{ getProductQuantity(product.id) }}
                </span>

                <button pButton icon="pi pi-plus" class="p-button-sm p-button-success" (click)="addToCart(product)">
                </button>
            </div>

            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
                    <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                </div>
            </ng-template>
        </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '50vw' }" header="Ajout/Edition produit">
    <app-product-form [product]="editedProduct()" (save)="onSave($event)" (cancel)="onCancel()" />
</p-dialog>